form{
  display: flex;
  height: 70px;
  align-items: center;
  background-color: #000;
}

input {
  flex-grow: 1;
  line-height: 2.7;
  margin-left: 20px;
  border-radius: 0.2rem;
}

button {
  margin-right: 10px;
  line-height: 1.6;
  background-image: url('/images/search.png');
  background-repeat: no-repeat;
  background-color: #525252;
  border: 0;
  width: 54px;
  height: 40px;
  background-size: cover;
  padding: 7px 14px;
  background-origin: content-box;
  cursor: pointer;
}

.logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  padding-left: 61px;
  background-position-y: center;
  color: white;
  font-size: 1.6rem;
  margin-left: 20px;
  font-family: Impact, Charcoal, sans-serif;
}