@import url('./videoPage.module.css');

li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 4px 5px 5px #dedede;
  width: 50%;
  border: 1px solid #dedede;
  background-color: white;
  box-sizing: border-box;
}

li:hover {
  transform:scale(1.05); 
}

img {
  display: block;
  width: 250px;
  padding: 3px;
}

.titleContainer {
  padding: 0px 20px;
  display: block;
  align-self: center;
}

.title {
  overflow: hidden;
  text-size-adjust: auto;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.channelTitle {
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.listWrapper li {
  width: 100%;
}