.page {
  width: 70%;
  position: relative;
}

.videoContainer {
  display: inline-block;
  width: 70%;
}

.videoWrapper {
  margin-top: 10px;
}

.listWrapper {
  display: inline-block;
  position: absolute;
}

iframe{
  height: 700px;
}